body {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	padding: 0px;
  	background: url("/upload/images/index.jpg");
}

.test-forma {
	float: left;
	clear: both;
	margin: 20px;
	border: 1px solid #d3d3d3;
	padding: 10px;
}

.test-forma p {
	float: left;
	clear: both;
	width: 100%;
}

span.hint {
	font-size: 11px;
	float: left;
	font-style: italic;
	margin-left: 10px;
	color: #666666;
}

span.error {
	color: #ff0000;
	float: left;
	clear: both;
	margin: 5px 0px;
}

.wrap {
}

.header-holder{
	height: 130px;
}

.header {
    height: 130px;
    margin: 0px auto;
    position: relative;
    width: 900px;
}

.promjezika{
	position: absolute;
	top: 5px;
	right: 20px;
}

.promjezika a{
	text-decoration: none;
	color: #585858;
}

.promjezika a:hover{
	color: #000000;
	font-weight: bold;
}

.logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 40%;
  height: 100px;
  width: 189px;
  z-index: 2;
}


/*
meni
*/

.menu-holder {
    background: url("/upload/images/menu.gif") repeat-x scroll 0 0 transparent;
    display: block;
    height: 55px;
    position: absolute;
    top: 29px;
    width: 100%;
    z-index: 1;
	box-shadow: 0 0 4px #868686;
}

.tri{
	padding-top: 1px;
}

.dva{
	padding-top: 9px;
	padding-bottom: 10px
}

.jedan{
	padding-bottom:19px;
	padding-top: 18px;
}

.menu {	
  margin: 0px auto;
  width: 900px;
  height: 55px;
}

.meni1{
	float: left;
	height: 55px;
	width: 357px;
}

.meni1 ul {
	width:357px;
	height: 55px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.meni1 ul li{
	height: 55px;
	width: 110px;
	padding: 0px 4px  0 5px;
	float: left;
	text-align: center;
}

.meni1 ul  li a{
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	display: block;
}

.meni1 ul li a p{
	width: 110px;
	margin: 0;
	text-align: center;
	vertical-align:middle;
	font-size: 15px;
	color: #000000;
}

.meni1 ul li a:hover p span{
	color: #dc4d4d;
}

.meni1 ul li a.active p span {
 color: #dc4d4d;
}

.meni2 {
	float: right;
	height: 55px;
	width: 350px;
}

.meni2 ul {
	width:350px;
	height: 55px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.meni2 ul li{
	height: 55px;
	width: 110px;
	padding: 0px 3px  0 3px;
	float: left;
	text-align: center;
}

.meni2 ul  li a{
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	display: block;
}

.meni2 ul li a p{
	width: 110px;
	margin: 0;
	text-align: center;
	vertical-align:middle;
}

.meni2 ul li a:hover p span{
	color: #dc4d4d;
}

.meni2 ul li a.active p span {
 color: #dc4d4d;
}

.content-holder {
	margin: 0px auto;
	width: 900px;
}

.content{
  float: left;
  margin: 0px auto;
  width: 880px;
  padding: 8px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background: url("/upload/images/co_bg.gif") repeat-y scroll 0 0 transparent;
  box-shadow: 0 0 4px #868686;
  margin-bottom: 20px;
}
/*
.poruka{
	float: left;
	clear: both;
	width:860px;
	padding: 10px;
	border: 1px solid #000000;
	margin-bottom: 3px;
}

.poruka p{
	padding:10px;
	border: 2px solid #ffffff;
	border-radius: 12px;
	background: #fafafa;
}
*/
.image {
	float: left;
	border: 2px solid #ffffff;
	border-radius: 12px;
	padding: 7px;
	width: 862px;
	height: 202px;
	background: #ffffff;
}

.image img{
	float: left;
	border: 1px solid #ffffff;
	border-radius: 12px;
	height: 200px;
	width: 860px;
}	

.main-content{
	float: left;
	border: 2px solid #ffffff;
	border-radius: 12px;
	padding: 10px;
	width: 856px;
	background: #ffffff;
	margin-top: 1px;
	margin-bottom: 10px;
}

.c_text{
	margin-top:30px;
	float: left;
	font-size: 13px;
	width: 246px;
}

.c_text span{
	color: #dc4d4d;
}

.mapa{
	float:left;
	height: 340px;
	width: 340px;
	padding: 10px;
	box-shadow: 0 0 4px;
	border: 1px solid #ffffff;
	border-radius: 12px;
	margin: 10px 7px 10px 2px;
	background: url("/upload/images/co_bg.gif") repeat-y;
}

.forma{
	width:230px;
	height:402px;
	padding-left: 5px;
	padding-top: 15px;
	float: right;
	border-left: 1px solid #585858;
	margin-right: 3px;
}

.forma  p{
	float: left;
	margin: 7px 0;
}

label{
	float:left;
	clear: both;
	padding-bottom: 3px;
}

.text{
	float:left;
	clear: both;
	outline: 2px solid #dcdcdc;
	border: none;
	width: 202px;
	padding-left:5px;
}

textarea{
	float: left;
	clear: both;
	outline: 2px solid #dcdcdc;
	border: none;
	width: 230px;
	height: 100px;
	padding: 3px;
}

input.text:focus, textarea:focus, select:focus { 
  border: 1px solid #6d93df;
  outline: 1px solid #dcdcdc;
}

.poruka{
	color: #DC4D4D;
	text-align: center;
}

.poruka1{
	text-align: center;
	width: 230px;
}

.footer{
	float: left;
	color: #585858;
	margin-top: 10px;
	padding: 0 20px 10px 20px;
	width: 840px;
	height: 40px;
	font-size: 10px;
}

.footer-text{
	float: left;
	width: 150px;
	color: #585858;
	padding: 0 0 10px 20px;
	font-size: 10px;
}

.mini-menu{
	float: right;
	width: 646px;
	color: #585858;
	padding: 0 20px 10px 0;
	font-size: 10px;
}

.mini-menu p{
	float:right;
}

.mini-menu a{
	text-decoration: none;
	color: #585858;
}

.c-mini-menu{
	float: right;
	width: 700px;
	color: #585858;
	padding: 0 10px 10px 0;
	font-size: 10px;
}

.c-mini-menu p{
	float:right;
}

.c-mini-menu a{
	text-decoration: none;
	color: #585858;
}

.mini-menu a strong{
	font-weight: lighter;
}

/** NIVO **/

.baner{
	width: 860px;
	height: 200px;
	float: left;
	clear:both;
	position:absolute;
	border: 1px solid #ffffff;
}	

.nivoSlider {
	position: absolute;
}

.nivoSlider img {	
	top:0px;
	left:0px; 
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
